/* GLOBAL */
html, body{
    font-family: 'Work Sans', sans-serif;
}
.heading h2{
    font-size: 40px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 0.5px;
}
.heading p{
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 17px;
    color: black;
}
.heading p::after{
    content: "";
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}
.heading--white p{
    color: white;
}
.section{
    padding: 5rem 0;
}
/* HEADER */
.header_top{
    background-color: #ff4f81;
    font-size: 14px;
}
.header_top a{
    text-decoration: none;
    transition: all 0.5s;
}
.header_left a:hover{
    color: black !important;
}
.navAll .navbar-toggler{
    background-color: #ff4f81;
    border-radius: 0%;
}
.navAll.navbar-toggler:focus{
    outline: none;
}
.header_right a{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: inline-block;
    padding-left: 0.25re;
}
.header_right a:hover{
    background-color: #ff4f81;
    color: white;
}
.navAll a{
    color: black;
}
.navAll .navbar-brand p:first-child{
    font-size: 36px;
    font-weight: bold;
}
.navAll .navbar-brand p:first-child i{
    transform: skew(-10deg);
}
.navAll .navbar-brand p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}
.nav-item{
    margin: 0 15px;
}
.nav-item::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
}
.nav-item:hover::after{
    width: 100%;
}
.nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav-item:hover .nav-link{
    color: #ff4f81;
    transition: all 0.5s;
}
.nav-item.active a{
    color: #ff4f81;
}
.nav-item.active::after{
    width: 100%;
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.dropdown-menu .dropdown-item{
    color: white;
    transition: all 0.5s;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}
/* CAROUSEL */
.carousel-caption{
    /* CHỉ ÁP DỤNG VỚI THẺ CÓ POTITON:ABSOLUTE */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption h1{
    font-size: 52px;
}
.carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 300;
}
.carousel-caption button{
    padding: 11px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
.carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 11;
}

/* WELCOME */
.welcome_content p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    padding: 1rem 0 5rem;
    letter-spacing: 1px;
}
.welcome_item i{
font-size: 2rem;
}
.welcome_item h3{
    color: #ff4f81;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
}
.welcome_item h4{
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}
.welcome_item p{
    letter-spacing: 1px;
    font-size: 15px;
    color: #999;
    line-height: 1.8em;
    margin: 10px 0;
}
.welcome_item{
    padding: 2rem;
}
/* OURSTART */
.ourStats{
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.ourStat_content{
    text-align: center;
    color: white;
}
.ourStat_item i{
    font-size: 2.5rem;
}
.ourStat_item h3{
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: #ff4f81;
}
.ourStat_item p{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}
/* OFFER */
.off_col{
    padding: 15px;
}
.offer_item{
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0 rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all 0.5s;
}
.offer_item:hover{
    background-color: aqua;
}
.offer_item i{
    color: #ff4f81;
    font-size: 40px;
}
.offer_item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}
.offer_item p{
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
}
/* FEEDBACK */
.feedback{
    background-image: url("../img/banner3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.feedback_content{
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}
.item{
    color: white;
    padding: 1rem;
}
.feedback_top{
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    position: relative;
}
.feedback_top::after{
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 25%;
}
.feedback_content .item .feedback_bottom img{
    width: 28%;
    display: inline-block;
}
.feedback_bottom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin:2rem auto 0;
}
.feedback_name p{
    margin: 0;
    margin-left: 5px;
}
.feedback_name p:first-child{
    font-weight: bold;
    font-size: 1.1rem;
}
.feedback_bottom p:last-child{
    color: #ff4f81;
}
.feedback .owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f81;
    opacity: 0.5;
}
.feedback .owl-theme .owl-dots .owl-dot:hover span, 
.feedback .owl-theme .owl-dots .owl-dot.active span{
    opacity: 1;
}
.feedback .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
/* NEW */
.news_content img{
    border: 2px solid #dedede;
}
.news_content h3{
    font-size: 1.3rem;
    font-weight: bold;
}
.news_content a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.news_content a:hover{
    color: #ff4f81;
}
.news_content h4{
    font-size: 1rem;
    color: #ff4f81;
    letter-spacing: 1px;
    margin: 1rem 0;
    font-weight: bold;
}
.news_content p {
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}
.news_content .row:last-child{
    margin-top: 5rem;
}
/* FOOTER */
footer{
    background-color: #141415;
}
.footer_top h3{
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;    
}
.footer_top p{
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer_link, .footer_contact{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.footer_link i{
    color: #ff4f81;
    margin-right: 1rem;
}
.footer_link a, .footer_contact a{
    color: #8b8b96;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.footer_link a:hover, .footer_contact a:hover{
    color: white;
}
.footer_contact i{
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}
.footer_form{
    margin-top: 3rem;
}
.footer_form label{
    color: #ff4f81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer_form input{
    padding: 14px;
    border: none;
    border-radius: 0%;
    color: #888;
    letter-spacing: 1px;
    height: auto;
}
.footer_form button{
    border-radius: 0%;
    background-color: #ff4f81;
    padding: 12px 20px;
    letter-spacing: 1px;
    outline: none;
    color: white;
    transition: all 0.5s;
}
.footer_form button:hover{
    background-color: #ec1955;
    color: black;
}
.footer_bottom{
    background-color: #0f0f10;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 1px;
    color: white;
}
.footer_bottom a{
    text-decoration: none;
    color: #ff4f81;
    transition: all 0.5s;
}
.footer_bottom a:hover{
    color: white;
}
.form-row,.row{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
/* MODAL */
#Modalintruction h5{
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}
#Modalintruction p{
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
#Modalintruction .modal-dialog{
    max-width: 600px;
}
/*------------------ RESPONSIVE ----------------*/
/* HEADER */
@media screen and (max-width: 1199.98px) {
.educationcarousel .carousel-caption{
    top: 50%;
}
.educationcarousel .carousel-caption h1{
    font-size: 4vw;
}
.educationcarousel .carousel-caption p{
    font-size: 1.6vw;
}
.educationcarousel .carousel-caption button{
    font-size: 1.5vw;
    padding: 0.8em 1em;
}
}
@media screen and (max-width: 991.98px) {
    .navAll .navbar-brand p:first-child{
    font-size: 3vw;
}
.navAll .navbar-brand p:last-child{
    font-size: 1.5vw;
}
}
@media screen and (max-width: 765.98px) {
   .navAll .navbar-nav{
       background-color: #eee;
       text-align: center;
   } 
   .navAll .dropdown-menu{
       background-color: #e0e1e2;
       border-color: #e0e1e2;
       text-align: center;
   }
   .navAll .dropdown-item{
    color: black;
   }
}
@media screen and (max-width: 575.98px) {
 .heading p{
     padding: 0 15px;
 }
    .header_left a{
     display: block;
 }  
 .footer_form .form-control,.footer_form .btn{
     padding: 10px;
     font-size: 14px;
     border: 0;
 }
}
@media screen and (max-width: 415px) {
    #carouselEducation{
        height: 250px;
    }   
    #carouselEducation .carousel-inner,#carouselEducation .carousel-item, #carouselEducation .carousel-item img{
        height: 100%;
    }
    #carouselEducation .carousel-item img{
        object-fit: cover;
    }
}
@media screen and (max-width: 376px) {
    .feedback_bottom{
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
  .header_right{
      width: 35%;
      text-align: center;
  }  
  .header_right a{
      margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width:992px){
    .navAll .nav-item{
        margin: 0;
        padding: 0 2px;
    }
    .navAll .nav-link{
    font-size: 12px;
}
}
@media screen and (min-width: 500px) and (max-width:992px){
    .feedback_bottom{
        width: 85%;
    }
}